$bld-color: #435d7d;

.card {
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  width: 100%;

  .card-header {
    width: 100%;
    background-color: $bld-color;
    padding: 1rem;
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    h1 {
      color: #ffffff;
      @include font-size-rem(32);
      font-weight: bold;
    }

    .btn-cn {
      display: flex;
      gap: 1rem;
      justify-items: center;
    }
  }

  .card-content {
    padding: 12px;
  }


}
